:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

}
body{
font-family:'Red Hat Display', sans-serif;
background:hsl(225, 100%, 94%);

}
.container{
    border:1px solid none;
    margin:50px 80px;
    height:80vh;
    border-radius:20px;
    box-sizing:border-box;
    overflow: hidden;
    background-color: hsl(225, 100%, 98%);
    
    

}
.first-image img{
    width:100%;
}
.main-content{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:0 30px;
}
.info h1{
    text-align:center;
    font-weight:900;
    font-size:20px;
    color:hsl(223, 47%, 23%);
}
.info p {
    text-align:center;
    color: hsl(224, 23%, 55%);
    font-weight:700;
    font-size:12px;
    line-height:1.5em;
    word-spacing:2px;
}
.sub-plan{
    background-color:hsl(225, 100%, 97%) ;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding:20px;
    height:35px;
    margin:20px;
    width:90%;
    border-radius:10px;
}
.sub-plan img{
    width:40px;
    height:40px;
    padding-right:0;
}
.sub-plan div{
    display:flex;
    flex-direction:column;
    margin:0;
}
.sub-plan div h2{
    font-weight:900;
    color:hsl(223, 47%, 23%);
    font-size:10px;
}
.sub-plan div p{
    font-weight:700;
    color:hsl(224, 23%, 55%);
    font-size:12px;
}
.sub-plan a{    
    padding-left:20px;
    font-size:14px;
    font-weight:700;
}
.sub-plan a:hover{
    color:hsl(245, 75%, 52%);
    font-weight:400;
}

.sub-plan h2,p{
    font-size:12px;
    margin:5px;
}
.payment input[type='button']{
    width:100%;
    height:45px;
    border-radius:10px;
    background-color:hsl(245, 75%, 52%);
    color:white;
    font-weight:900;
    border:1px solid;
}
.payment input[type='button']:hover{
    background-color:hsl(245, 80%, 66%); 
    cursor:pointer;

}
.payment input[type='button']:nth-child(2){
    background-color: hsl(225, 100%, 98%);
    color:hsl(224, 23%, 55%);
    border:none;
}
.payment input[type='button']:nth-child(2):hover{
    cursor:pointer;
    color:hsl(225, 14%, 45%);;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width:300px){
    .container{
       width:70%;
       margin:50px auto;
      
    }
}
@media(min-width:550px){
    .container{
        width:50%;
    }
}
@media(min-width:800px){
    body{
        font-size:8px;
    }
    .container{
        width:45%;
        margin:50px auto;
        

    }
        
    
}
@media(min-width:920px){
    .container{
        width:30%;
        margin:50px auto;
        font-size:4px;
        
    }
}